{
  "ignore": [
    "node_modules/**"
  ],
  "env": {
    "test": {
      "presets": [
        "env",
        "react"
      ]
    },
    "rollup": {
      "plugins": ["external-helpers"],
      "presets": [
        ["env", {"modules": false}],
        "react"
      ]
    }
  }
}
